---
import MainLayout from "~/layouts/MainLayout.astro";
import WorkExperienceSection from "~/components/section/WorkExperienceSection.svelte";
import { workExperiences } from "~/data/work-experience";
---

<MainLayout seo={{ title: "Experience" }}>
	<div class="space-y-6">
		<WorkExperienceSection client:visible workExperiences={workExperiences} showSeeMore={false} />
	</div>
</MainLayout>
