---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";

const projects = await getCollection("projects");
---

<MainLayout title="Projects">
	<div class="space-y-8">
		<h1 class="text-4xl font-bold">Projects</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{
				projects.map((project) => (
					<article class="p-6 rounded-lg border border-collapse border-border-light dark:border-border-dark hover:border-primary transition-colors group relative flex flex-col min-h-[200px]">
						<a href={`/projects/${project.slug}`} class="block group flex-grow">
							<h2 class="text-2xl font-semibold group-hover:text-primary transition-colors">
								{project.data.title}
							</h2>
							<p class="mt-2 text-sm text-text-light dark:text-text-dark">{project.data.description}</p>
						</a>
						<div class="mt-4 flex flex-wrap gap-2">
							{project.data.technologies.map((tech) => (
								<span class="px-3 py-1 text-xs rounded-full border border-line bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
									{tech}
								</span>
							))}
						</div>
					</article>
				))
			}
		</div>
	</div>
</MainLayout>
